
body{
    background-color: black;
    
}

h1{
    color: yellow;
    text-align: center;
}

h2{
    color: yellow;
    text-align: center;
}


#planet{
    color: yellow;
    display: flex;
}

#film{
    color: yellow;
    display: flex;
}

#vehicle{
    color: yellow;
    display: flex;
    
}

#wookie{
    color: yellow;
    display: flex;
}

.starship{
    border: 1px solid yellow;
    justify-content: space-between;
}

.firstTrilogy{
    border: 1px solid yellow;
}

.planets{
    border: 1px solid yellow;
}

.rooohoo{
    border: 1px solid yellow;
}